name: Python application [PR]

on:
  pull_request:
    paths:
    - 'python/*'
    - '.github/workflows/pythonapp-pr.yml'
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ./python/requirements.txt
    - name: Build the Docker image
      run: |
        cd ./python
        docker image build -t konstantinzaigraev/flux-education:hellov1.0 .
