name: Python application

on:
  push:
    paths:
    - 'python/*'
      
jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ./python/requirements.txt
    - name: Build & Push Image
      run: |
        cd ./python
        docker login --username=${{secrets.DOCKERUSER}} --password=${{secrets.DOCKERPW}}
        docker image build -t wajdimimi/gitops:hellov1.0 .
        docker push wajdimimi/gitops:hellov1.0
